:root {
  --bytm-locale-color: #6a97c7;
  --bytm-advanced-mode-color: #c5b270;
  --bytm-experimental-col: #c698d6;
  --bytm-warning-col: #e07664;
  --bytm-reload-col: #7ad46a;
}

/* TODO(v1.2): leave only dialog */
#bytm-cfg-dialog-bg,
#bytm-cfg-menu-bg
{
  --bytm-dialog-height-max: 800px;
  --bytm-dialog-width-max: 1150px;
  --bytm-menu-height-max: 800px;
  --bytm-menu-width-max: 1150px;
}

.bytm-dialog-bg.bytm-dom-yt,
.bytm-menu-bg.bytm-dom-yt {
  z-index: 10042;
}

.bytm-dialog.bytm-dom-yt,
.bytm-menu.bytm-dom-yt {
  z-index: 10069;
}

.bytm-dialog-body p {
  overflow-wrap: break-word;
}

.bytm-dialog-body details summary {
  cursor: pointer;
  font-style: italic;
}

#bytm-version-notif-dialog-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

#bytm-disable-update-check-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 35px;
}

#bytm-disable-update-check-wrapper label {
  padding-left: 12px;
}

#bytm-version-notif-changelog-cont {
  max-height: calc(max(var(--calc-max-height) - 280px, 0px));
  overflow-y: auto;
  margin: 10px 0px;
}

#bytm-version-notif-changelog-details {
  margin-top: 15px;
}

.bytm-disable-update-check-toggle-label-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bytm-secondary-label {
  padding-left: 12px;
  font-size: 1.3rem;
}

.bytm-adorn-icon {
  display: inline-flex;
  align-items: center;
  cursor: help;
}

.bytm-ftconf-adv-copy-btn {
  margin: 0px 10px;
}

.bytm-ftitem-adornment svg path {
  fill: var(--bytm-locale-color, #fff) !important;
}

.bytm-advanced-mode-icon svg path {
  fill: var(--bytm-advanced-mode-color, #fff) !important;
}

.bytm-experimental-icon svg path {
  fill: var(--bytm-experimental-col, #fff) !important;
}

.bytm-warning-icon svg {
  width: 24px;
  height: 24px;
}

.bytm-warning-icon svg path {
  fill: var(--bytm-warning-col, #fff) !important;
}

.bytm-reload-icon svg path {
  fill: var(--bytm-reload-col, #fff) !important;
}

/* #SECTION welcome dialog */

#bytm-welcome-menu-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#bytm-welcome-menu-title-logo {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

#bytm-welcome-menu-content-wrapper {
  overflow-y: auto;
}

#bytm-welcome-menu-locale-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#bytm-welcome-menu-locale-img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

#bytm-welcome-menu-text-cont {
  margin-top: 16px;
}

#bytm-welcome-menu-text {
  font-size: 1.6rem;
  line-height: 20px;
}

#bytm-welcome-menu-locale-select {
  font-size: 1.6rem;
}

#bytm-welcome-menu-footer-cont {
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px var(--bytm-menu-border-radius) var(--bytm-menu-border-radius);
}
