#bytm-plugin-list-dialog-bg {
  --bytm-plugin-list-secondary-col: #c8c8c8;
  --bytm-plugin-list-row-padding-ver: 12px;
  --bytm-plugin-list-row-max-height: 130px;
}

#bytm-plugin-list-dialog-body {
  overflow-y: auto;
  max-height: 100%;
}

.bytm-plugin-list-no-plugins {
  font-size: 1.7rem;
  text-align: center;
  padding: var(--bytm-plugin-list-row-padding-ver) 0px;
}

.bytm-plugin-list-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid var(--bytm-dialog-separator-color, #ccc);
  padding: var(--bytm-plugin-list-row-padding-ver) 0px;
  gap: 20px;
}

.bytm-plugin-list-row:first-child {
  padding-top: 0;
}

.bytm-plugin-list-row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.bytm-plugin-list-row-left,
.bytm-plugin-list-row-right {
  display: flex;
  flex-direction: column;
}

.bytm-plugin-list-row-title {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.bytm-plugin-list-row-version {
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--bytm-plugin-list-secondary-col);
  margin-left: 10px;
}

.bytm-plugin-list-row-namespace {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--bytm-plugin-list-secondary-col);
  margin-bottom: 5px;
}

.bytm-plugin-list-row-desc {
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow-x: hidden;
  max-height: calc(var(--bytm-plugin-list-row-max-height) - 30px);
  overflow-y: auto;
}

.bytm-plugin-list-row-links-list {
  margin-top: 2px;
}

.bytm-plugin-list-row-links-list-bullet {
  margin: 0 5px;
}

.bytm-plugin-list-row-right {
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 25%;
  max-height: var(--bytm-plugin-list-row-max-height);
}

.bytm-plugin-list-row-permissions-header {
  position: sticky;
  top: 0;
  background-color: var(--bytm-dialog-bg);
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.bytm-plugin-list-row-intent-item::before {
  content: "•";
  margin-right: 3px;
}

.bytm-plugin-list-row-intent-item {
  cursor: help;
}
