#bytm-prompt-dialog-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#bytm-prompt-dialog-header svg {
  width: 24px;
  height: 24px;
}

#bytm-prompt-dialog-upper-cont,
#bytm-prompt-dialog-message {
  font-size: 1.6rem;
  white-space: pre-wrap;
}

.bytm-prompt-type-prompt #bytm-prompt-dialog-message {
  margin-bottom: 15px;
}

#bytm-prompt-dialog-input {
  font-size: 1.6rem;
  width: 100%;
}

#bytm-prompt-dialog-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}

#bytm-prompt-dialog-buttons-cont {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.bytm-prompt-dialog-button {
  padding: 2px 6px;
  font-size: 1.45rem;
}
