:root {
  --bytm-auto-like-btn-color: #c47df4;
  --bytm-auto-like-btn-bg-color: rgba(201, 122, 254, 0.25);
}

.bytm-auto-like-channel-row-left-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bytm-auto-like-channel-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  transition: background-color 0.15s ease-out;
}

.bytm-auto-like-channels-desc {
  padding: 0px 15px;
  white-space: pre-wrap;
  font-size: 1.6rem;
  margin-bottom: 15px;
}

#bytm-auto-like-channels-add-new {
  padding: 4px 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.bytm-auto-like-channel-row:hover {
  background-color: var(--bytm-menu-bg-highlight);
}

.bytm-auto-like-channel-row .bytm-toggle-input-wrapper.bytm-auto-like-channel-toggle {
  --toggle-height: 18px !important;
  --toggle-width: 36px !important;
}

.bytm-auto-like-channel-row .bytm-generic-btn {
  --bytm-generic-btn-width: 30px;
  --bytm-generic-btn-height: 30px;
}

.bytm-auto-like-channel-name-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bytm-auto-like-channel-id {
  cursor: text;
  font-size: 1.1rem;
  color: #aaa;
  margin-left: 10px;
}

.bytm-auto-like-toggle-btn {
  margin-right: 8px;
  border: 1px solid var(--bytm-auto-like-btn-color);
  box-sizing: border-box;
}

.bytm-auto-like-toggle-btn:active {
  background-color: var(--bytm-auto-like-btn-bg-color);
}

.bytm-auto-like-toggle-btn.toggled {
  background-color: var(--bytm-auto-like-btn-bg-color, rgba(255, 255, 255, 0.25));
}

.bytm-auto-like-toggle-btn .bytm-generic-long-btn-txt {
  color: var(--bytm-auto-like-btn-color);
}

.bytm-auto-like-toggle-btn svg path {
  fill: var(--bytm-auto-like-btn-color);
}
