:root {
  --bytm-themed-bg-col: var(--ts-playerpage-color, #030303);
}

#ts-visualizer-container #ThemeSong-Visualizer canvas {
  /* Fix for the thumbnail overlay */
  z-index: 1;
}

/* hide ThemeSong container when hovering enlarged slider: */

#ts-panel-container {
  opacity: 1;
  transition: opacity 0.1s ease;
}

#ts-panel-container.bytm-hidden {
  opacity: 0;
}
