:root {
  --bytm-menu-width: calc(min(70vw, 1000px));
  --bytm-menu-bg: #212121;
}

#bytm-menu-bg {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.6);
}

#bytm-menu {
  display: inline-block;
  position: fixed;
  width: var(--bytm-menu-width);
  height: auto;
  left: calc((100vw - var(--bytm-menu-width)) / 2);
  top: 10vh;
  z-index: 16;
  padding: 10px 25px;
  color: #fff;
  background-color: var(--bytm-menu-bg);
}

#bytm-menu-opts {
  max-height: 70vh;
  overflow: auto;
}

#bytm-menu-titlecont {
  display: flex;
}

#bytm-menu-title {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
}

#bytm-menu-linkscont {
  display: flex;
}

.bytm-menu-link {
  cursor: pointer;
  display: inline-block;
}

#bytm-menu-close {
  cursor: pointer;
}

#bytm-menu-footer-cont {
  background: var(--bytm-menu-bg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--bytm-menu-bg) 18%, var(--bytm-menu-bg) 100%);
}

.bytm-ftconf-label {
  user-select: none;
}

body.bytm-disable-scroll {
  overflow-y: hidden !important;
}
