:root {
  --bytm-menu-bg-highlight: #252525;
}

.bytm-menu-bg {
  --bytm-menu-bg: #333333;
  --bytm-scroll-indicator-bg: rgba(10, 10, 10, 0.7);
  --bytm-menu-separator-color: #797979;
  --bytm-menu-border-radius: 10px;
}

.bytm-menu-bg {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3005;
  background-color: rgba(0, 0, 0, 0.6);
}

.bytm-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(min(100% - 60px, var(--bytm-dialog-width-max)));
  border-radius: var(--bytm-menu-border-radius);
  min-height: calc(min(100% - 40px, var(--bytm-dialog-target-height)));
  max-height: calc(min(100% - 40px, var(--bytm-dialog-target-height)));
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3006;
  color: #fff;
  background-color: var(--bytm-menu-bg);
}

.bytm-menu.top-aligned {
  top: 0;
  transform: translate(-50%, 40px);
}

#bytm-cfg-menu-main-body {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: calc(100% - 32px);
  overflow: hidden;
}

#bytm-cfg-menu-sidenav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  background-color: var(--bytm-menu-bg);
  border-right: 2px solid var(--bytm-menu-separator-color);
}

#bytm-cfg-menu-sidenav-top-section {
  overflow-y: auto;
}

#bytm-cfg-menu-sidenav-bottom-section {
  border-top: 2px solid var(--bytm-menu-separator-color);
}

.bytm-menu-sidenav-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--bytm-menu-bg);
}

.bytm-menu-sidenav-header.selected {
  background-color: var(--bytm-menu-bg-highlight);
}

.bytm-menu-sidenav-section .bytm-menu-sidenav-header:not(:last-of-type),
#bytm-cfg-menu-sidenav-top-section .bytm-menu-sidenav-header:last-of-type {
  border-bottom: 2px solid var(--bytm-menu-separator-color);
}

.bytm-menu-body {
  padding: 15px;
}

#bytm-menu-opts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 15px 0px;
  overflow-y: auto;
}

.bytm-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--bytm-menu-bg);
  border: 2px solid var(--bytm-menu-separator-color);
  border-style: none none solid none !important;
  border-radius: var(--bytm-menu-border-radius) var(--bytm-menu-border-radius)
    0px 0px;
}

.bytm-menu-header.small {
  padding: 10px;
  border-style: none none solid none !important;
}

.bytm-menu-title-logo-header-cont {
  display: flex;
}

.bytm-cfg-menu-logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.bytm-menu-titlecont {
  position: relative;
  display: flex;
  align-items: center;
}

.bytm-menu-titlecont-no-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bytm-menu-title {
  position: relative;
  display: inline-block;
  font-size: 22px;
}

#bytm-cfg-menu-bg .bytm-menu-title {
  transform: translate(0px, -6px);
}

#bytm-cfg-menu {
  --bytm-menu-subtitle-color: #c6d2db;

  height: calc(100vh - 40px);
}

#bytm-menu-subtitle-cont {
  width: 100%;
  display: flex;
  gap: 6px;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  bottom: -12px;
  left: 0;
  font-size: 10px;
  font-weight: normal;
  z-index: 3007;
}

#bytm-menu-subtitle-cont,
#bytm-menu-version-anchor {
  color: var(--bytm-menu-subtitle-color) !important;
}

#bytm-menu-linkscont {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.bytm-menu-link {
  position: relative;
  max-height: 32px;
  max-width: 32px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.bytm-menu-link:not(:last-of-type) {
  margin-right: 10px;
}

.bytm-menu-link .bytm-menu-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0px;
  transform: translateY(0px);
  transition: transform 0.15s ease-out, padding 0.15s ease-out;
}

.bytm-menu-link:hover .bytm-menu-img {
  padding: 7px;
  transform: translateY(-14px);
}

.bytm-menu-link .extended-link {
  visibility: hidden;
  position: absolute;
  top: 14px;
  padding-top: 13px;
  padding-bottom: 2px;
  opacity: 0;
  text-decoration: none;
  color: var(--bytm-menu-subtitle-color) !important;
  white-space: pre;
  font-size: 1.1rem;
  transition: visibility 0.15s ease-out, opacity 0.15s ease-out;
}

.bytm-menu-link:hover .extended-link {
  visibility: visible;
  opacity: 1;
}

.bytm-menu-close {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.bytm-menu-close.small {
  width: 24px;
  height: 24px;
}

.bytm-menu-footer {
  font-size: 17px;
  text-decoration: underline;
}

.bytm-menu-footer.hidden {
  display: none;
}

.bytm-menu-footer-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background: var(--bytm-menu-bg);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    var(--bytm-menu-bg) 30%,
    var(--bytm-menu-bg) 100%
  );
  border: 2px solid var(--bytm-menu-separator-color);
  border-style: solid none none none !important;
  border-radius: 0px 0px var(--bytm-menu-border-radius)
    var(--bytm-menu-border-radius);
}

.bytm-menu-footer-buttons-cont button:not(:last-of-type) {
  margin-right: 15px;
}

.bytm-menu-footer-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#bytm-menu-footer-left-buttons-cont button:not(:last-of-type) {
  margin-right: 15px;
}

#bytm-menu-scroll-indicator {
  --bytm-scroll-indicator-padding: 5px;
  position: sticky;
  bottom: -15px;
  left: 50%;
  margin-top: calc(-32px - var(--bytm-scroll-indicator-padding) * 2);
  padding: var(--bytm-scroll-indicator-padding);
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
  z-index: 3007;
  background-color: var(--bytm-scroll-indicator-bg);
  border-radius: 50%;
  cursor: pointer;
}

.bytm-hidden {
  visibility: hidden !important;
}

.bytm-ftconf-category.hidden {
  display: none;
}

.bytm-ftitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 8px 16px;
  transition: background-color 0.15s ease-out;
}

.bytm-ftitem:hover {
  background-color: var(--bytm-menu-bg-highlight);
}

.bytm-ftitem-leftside {
  display: flex;
  align-items: center;
  min-height: 24px;
}

.bytm-ftconf-ctrl {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  margin-left: 10px;
}

.bytm-ftconf-label {
  user-select: none;
}

.bytm-slider-label {
  margin-right: 10px;
}

.bytm-toggle-label {
  padding-left: 10px;
  padding-right: 5px;
}

.bytm-ftconf-input.bytm-hotkey-input {
  cursor: pointer;
  min-width: 60px;
}

.bytm-ftconf-input[type="number"] {
  width: 75px;
}

.bytm-ftconf-input[type="range"] {
  width: 200px;
}

.bytm-ftconf-input[type="text"] {
  width: 200px;
}

.bytm-ftconf-input[type="checkbox"] {
  margin-left: 5px;
}

select.bytm-ftconf-input {
  min-width: 180px;
  cursor: revert;
}

#bytm-export-menu-text,
#bytm-import-menu-text {
  white-space: pre-wrap;
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.bytm-menu-footer-copied {
  font-size: 1.6rem;
  margin-right: 15px;
}

#bytm-changelog-menu-body {
  overflow-y: auto;
}

.bytm-changelog-version-details:not(:first-of-type) {
  margin-top: 15px;
}

.bytm-changelog-version-details summary h2 {
  display: inline-block;
}

.bytm-changelog-version-details details summary {
  cursor: pointer;
  user-select: none;
}

.bytm-changelog-version-details details summary::marker {
  font-size: 2rem;
}

#bytm-export-menu-textarea,
#bytm-import-menu-textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.bytm-markdown-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 1.5rem;
  line-height: 20px;
}

/* Markdown stuff */

.bytm-markdown-container kbd,
.bytm-kbd {
  --bytm-kbd-easing: cubic-bezier(0.31, 0.58, 0.24, 1.15);
  display: inline-block;
  cursor: pointer;
  vertical-align: bottom;
  padding: 3px;
  font-family: var(--bytm-font-monospace);
  font-size: 1.25rem;
  line-height: 11px;
  background-color: #222;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: inset 0 -2px 0 #515559;
  transition: padding 0.1s var(--bytm-kbd-easing),
    margin-top 0.1s var(--bytm-kbd-easing),
    box-shadow 0.1s var(--bytm-kbd-easing);
}

.bytm-markdown-container kbd:active,
.bytm-kbd:active {
  padding-bottom: 1px;
  box-shadow: inset 0 0 0 initial;
}

.bytm-markdown-container kbd::selection,
.bytm-kbd::selection {
  background: rgba(0, 0, 0, 0);
}

.bytm-markdown-container code {
  background-color: #222;
  border-radius: 3px;
  padding: 1px 5px;
  font-family: var(--bytm-font-monospace);
  font-size: var(--bytm-font-size-monospace);
}

.bytm-markdown-container h2 {
  margin-bottom: 5px;
}

.bytm-markdown-container h2:not(:first-of-type) {
  margin-top: 30px;
}

.bytm-markdown-container ul li {
  padding-left: 0px;
}

.bytm-markdown-container ul li::marker {
  content: none;
}

.bytm-markdown-container ul li::before {
  content: "• ";
  font-weight: bolder;
}

.bytm-markdown-container ul li > ul li {
  padding-left: 16px;
}

.bytm-markdown-container ul li > ul li::marker {
  content: none;
}

.bytm-markdown-container ul li > ul li::before {
  white-space: pre-wrap;
  content: "• ";
  font-weight: bolder;
}

.bytm-markdown-container ul li > ul li > ul li {
  padding-left: 16px;
}

.bytm-markdown-container ul li > ul li > ul li::marker {
  content: none;
}

.bytm-markdown-container ul li > ul li > ul li::before {
  white-space: pre-wrap;
  content: "• ";
  font-weight: bolder;
}

.bytm-markdown-container .pr-link-cont {
  padding-top: 10px;
}

.bytm-markdown-container details {
  margin-top: 5px;
}

#bytm-feat-help-dialog-desc,
#bytm-feat-help-dialog-text {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1.5rem;
  line-height: 1.25em;
}

#bytm-feat-help-dialog-desc {
  font-size: 1.8rem;
  padding-bottom: 10px;
}

.bytm-ftitem-help-btn {
  width: 24px !important;
  height: 24px !important;
}

.bytm-ftitem-help-btn svg {
  width: 18px !important;
  height: 18px !important;
}

.bytm-ftitem-help-btn svg > path {
  fill: #b3bec7 !important;
}

hr {
  display: block;
  margin: 8px 0px 12px 0px;
  border: revert;
}
