#side-panel ytmusic-tab-renderer ytmusic-queue-header-renderer {
  align-items: center;
  top: 0;
  z-index: 2;
  padding: 16px 8px;
  margin: unset;
  background-color: var(--bytm-themed-bg-col);
  border-bottom: 1px solid var(--ytmusic-divider);
  /* fallback for when the ThemeSong bg color is a gradient function instead of a color value */
  backdrop-filter: blur(8px);
}

#side-panel ytmusic-tab-renderer ytmusic-queue-header-renderer.hidden {
  z-index: 0;
}
