ytmusic-carousel-shelf-renderer ytmusic-carousel ytmusic-responsive-list-item-renderer {
  margin-bottom: var(--ytmusic-carousel-item-margin-bottom, 16px) !important;
}

ytmusic-carousel-shelf-renderer ytmusic-carousel {
  --ytmusic-carousel-item-height: 60px !important;
}

ytmusic-responsive-list-item-renderer div.left-items:not(a.bytm-anchor > div.left-items) {
  margin-right: var(--ytmusic-responsive-list-item-thumbnail-margin-right, 16px) !important;
}
