ytmusic-carousel-shelf-renderer ytmusic-carousel ytmusic-responsive-list-item-renderer {
  margin-bottom: var(--ytmusic-carousel-item-margin-bottom, 16px) !important;
}

ytmusic-carousel-shelf-renderer ytmusic-carousel {
  --ytmusic-carousel-item-height: 60px !important;
}

ytmusic-responsive-list-item-renderer div.left-items:not(a.bytm-anchor > div.left-items) {
  margin-right: var(--ytmusic-responsive-list-item-thumbnail-margin-right, 16px) !important;
}

/* Because the autoplay queue doesn't have the three dot menu anymore, the buttons weren't aligned with the currently-playing-queue ones anymore */
ytmusic-tab-renderer #automix-contents .bytm-queue-btn-container {
  padding-right: 13px;
}

/* Fix toast container rendering over the player bar buttons */
:root body ytmusic-app yt-notification-action-renderer tp-yt-paper-toast#toast,
:root body ytmusic-app yt-notification-text-renderer tp-yt-paper-toast#toast
{
  top: calc(var(--bytm-inner-height, 1200px) + 150px);
}
