ytmusic-player-page ytmusic-player-queue {
  counter-reset: section;
}

ytmusic-player-page ytmusic-player-queue-item::before {
  counter-increment: section;
  content: counter(section, decimal-leading-zero);
  font-size: 1.5em;
  font-weight: bold;
  color: #ededed;
  margin-right: 12px;
}
