#side-panel ytmusic-tab-renderer ytmusic-queue-header-renderer {
  align-items: center;
  top: 0;
  z-index: 2;
  padding: 16px 8px;
  margin: unset;
  border-bottom: 1px solid var(--ytmusic-divider);
}

#side-panel
  ytmusic-tab-renderer
  ytmusic-queue-header-renderer
  .ytmusic-queue-header-renderer
  yt-formatted-string:not(.ytmusic-chip-cloud-chip-renderer) {
  text-shadow: 1px 1px 2px #000;
}

#side-panel ytmusic-tab-renderer ytmusic-queue-header-renderer.hidden {
  z-index: 0;
}
