.bytm-hotkey-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.bytm-hotkey-reset {
  font-size: 0.9em;
  margin-right: 10px;
}

.bytm-hotkey-info {
  font-size: 0.9em;
  white-space: nowrap;
}

.bytm-hotkey-info[data-state="active"] {
  display: none;
}

.bytm-hotkey-input-modifier-container {
  display: flex;
  align-items: center;
}

.bytm-hotkey-input-modifier-plus {
  display: inline-block;
  padding: 0px 5px;
  height: auto;
}
