.bytm-toggle-wrapper {
  --toggle-height: 24px;
  --toggle-width: 48px;
  --toggle-color-on: var(--bytm-dialog-accent-col, #4595c7);
  --toggle-color-off: #707070;

  display: flex;
  align-items: center;
}

.bytm-toggle-wrapper .bytm-toggle-label {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 5px 10px;
}

/* sauce: https://danklammer.com/articles/simple-css-toggle-switch/ */

.bytm-toggle {
  appearance: none;
  width: var(--toggle-width);
  height: var(--toggle-height);
  display: inline-block;
  position: relative;
  border-radius: 50px;
  margin: 0px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--toggle-color-off);
  transition: background-color ease 0.2s;
}

.bytm-toggle:before {
  content: " ";
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 2;
  width: calc(var(--toggle-height) - 4px);
  height: calc(var(--toggle-height) - 4px);
  background: #fff;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  left: 2px;
  top: 2px;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all ease 0.2s;
}

.bytm-toggle:checked {
  background-color: var(--toggle-color-on);
}

.bytm-toggle:checked:before {
  left: calc(var(--toggle-width) - 22px);
}
