.bytm-toggle-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bytm-toggle-wrapper .bytm-toggle-label {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 3px 12px;
  position: relative;
}

.bytm-toggle {
  cursor: pointer;
  display: inline-block;
}

.bytm-toggle-switch {
  display: inline-block;
  background: #666;
  border-radius: 16px;
  width: 40px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.bytm-toggle-switch:before {
  content: "";
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.bytm-toggle:hover .bytm-toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.bytm-toggle-checkbox:checked + .bytm-toggle-switch {
  background: #3683d4;
}

.bytm-toggle-checkbox:checked + .bytm-toggle-switch:before {
  left: 24px;
}

.bytm-toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
